
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutConfiguratiepaneel.cshtml";
}
<nav style="height:90px;">
    <div class="nav-wrapper">
        <a style="float:right;" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        
</div>
</nav>
<div class="main">

    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=2052361762&amp;format=interactive"></iframe>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=59288661&amp;format=interactive"></iframe>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=1276928540&amp;format=interactive"></iframe>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=184196183&amp;format=interactive"></iframe>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=2066408355&amp;format=interactive"></iframe>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=2098065188&amp;format=interactive"></iframe>
    </div>