
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutConfiguratiepaneel.cshtml";
}
<nav style="height:90px;">
    <div class="nav-wrapper">
        <a style="float:right;" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        
</div>
</nav>
<div class="main">

    <table>
        <tr>
            <td>
                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=53909108&amp;format=interactive"></iframe>
            </td>
            <td>
                <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=730219621&amp;format=interactive"></iframe>
            </td>
        </tr>
        <tr>
            <td><iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=550326728&amp;format=interactive"></iframe></td>
            <td><iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSKili6hpuWHROaZqh2GnlpeLCeTkYrKsQpQF5y1uFIut8P3JAN1tZ-DZe83RBmtXBiLYurUB55DyAV/pubchart?oid=606689560&amp;format=interactive"></iframe></td>
        </tr>
        
    </table>
    </div>