
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutConfiguratiepaneel.cshtml";
}
<nav style="height:90px;">
    <div class="nav-wrapper">
        <a style="float:right;" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <li style="line-height:0;"></li>
</div>
</nav>
<h2>Index</h2>

