<div class="main" style="padding:0;margin:0;">
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <br />
            <h3 class="center-align">Waarom kopen bij CSC?</h3>
            <div style="width: fit-content;margin-left: auto;margin-right: auto;">
                <br/>
                <table>
                    <tr><td><i class="small material-icons" style="color:rgb(255,51,51);">check</i></td><td><span> 1 tot 2 jaar garantie op alle wagens</span></td></tr>
                    <tr><td><i class="small material-icons" style="color:rgb(255,51,51);">check</i></td><td><span>Wij gaan op zoek naar uw wagen</span></td></tr>
                    <tr><td><i class="small material-icons" style="color:rgb(255,51,51);">check</i></td><td><span>Uw huidige wagen kunnen wij indien mogelijk overnemen</span></td></tr>
                    <tr><td><i class="small material-icons" style="color:rgb(255,51,51);">check</i></td><td><span>Snelle levering</span></td></tr>
                    <tr><td><i class="small material-icons" style="color:rgb(255,51,51);">check</i></td><td><span>Alle wagens krijgen een volledig nazicht voor levering</span></td></tr>
                    <tr><td><i class="small material-icons" style="color:rgb(255,51,51);">check</i></td><td><span>Indien u dit wenst leveren we uw nieuwe wagen aan huis</span></td></tr>
                </table>            
            </div>


        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="margintopbottom center-align col-lg-6 col-md-6 côl-sm-6">
            <h5>ONDERHOUD</h5>
           
              <i class="medium material-icons" style="color:rgb(255,51,51);">build</i>
             <ul>
                                                                                                            <li>Klein onderhoud</li>
                                                                                                            <li>Groot onderhoud</li>
                                                                                                            <li>Keuring</li>
                                                                                                            <li>Onderhoud airco</li>
                                                                                                            <li>Algemene herstellingen</li>
                                                                                                        </ul>
 
        </div>
        <div class="margintopbottom center-align col-lg-6 col-md-6 côl-sm-6">
            <h5>BANDEN EN VELGEN</h5>
            <i class="medium material-icons" style="color:rgb(255,51,51);">adjust</i>
            <ul>
                <li>Wintersets</li>
                <li>Zomersets</li>
            </ul>
        </div>
        </div>
    <div class="row">
        <div class="margintopbottom center-align col-lg-6 col-md-6 côl-sm-6">
            <h5>CARROSSERIE</h5>
            <i class="medium material-icons" style="color:rgb(255,51,51);">format_paint</i><ul>
                <li>Blikschade</li>
                <li>Lakschade</li>
                <li>Spuitwerk</li>
                <li>Erkend hersteller</li>

            </ul>
        </div>

        <div class="margintopbottom center-align col-lg-3 col-md-6 côl-sm-6">
            <h5>CAR DETAILING</h5>
            <i class="medium material-icons" style="color:rgb(255,51,51);">local_car_wash</i>
            <ul>
                <li>Basisbehandeling</li>
                <li>Glansbehandeling</li>
                <li>Coating</li>
                <li>Lakbehandeling</li>
                <li>Interieur reiniging</li>

            </ul>


        </div>

    </div>



 </div>
<br />
<br />